
{% extends 'base.html.twig' %}
{% block body %}
        <div class="col-md-4">
    <div class="panel panel-default">
        
         <div class="panel-body">
        <h1>ثبت آگهی شما   </h1>
{#        {{ form_row(form.name) }}
#}             {{ form(form) }}
         </div>
    </div>
        </div>
         <div class="col-md-4">
                     

             <h1>شرایط ثبت آگهی</h1>
             <p>آگهی‌دهندگان با ثبت آگهی خود در دیوار تأیید می‌کنند که آگهی ایشان شامل مواردی که در ادامه آورده می‌شوند نخواهد بود و همچنین دارای سن بالای ۱۸ سال هستند. در نظر داشته باشید، به منظور تسهیل و تسریع فرآیند تأیید و انتشار آگهی‌ها، دیوار ممکن است در مواردی بر اساس قوانین، متن یا عنوان آگهی شما را به طور جزئی تغییر دهد.</p>
             
         </div>
   
{% endblock %}
